@inherits LayoutComponentBase

<div class="login-layout">
    <div class="login-content">
        <img class="SiYlogo" src="images/SiYlogo.png" />
        <div class="body-content">
            @Body
        </div>
    </div>
</div>